<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Rubik:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/adminCategories.css" />
    <title>Admin Categories Page</title>
  </head>
  <body style="background-color: rgb(236, 236, 243)">
    <div class="mainContainer">
      <div class="rows adminpanel">
        <div class="column">
          <a class="dashboardlinks" href="#">DASHBOARD</a>
        </div>
        <div class="column">
          <a class="dashboardlinks" href="/admin/adminproduct">PRODUCTS</a>
        </div>
        <div class="column">
          <a class="dashboardlinks" href="#">CATEGORIES</a>
        </div>
        <div class="column">
          <a class="dashboardlinks" href="/admin/adminOrderdetails">ORDERS</a>
        </div>
        <div class="column">
          <a class="dashboardlinks" href="/admin/adminCoupons">COUPONS</a>
        </div>
        <div class="column">
          <a class="dashboardlinks" href="/admin/">CUSTOMERS</a>
        </div>
        <div class="logout-container">
          <form action="/admin/adminCategories/logout" method="post">
            <button class="logout-btn btn-secondary" type="submit">
              Log Out
            </button>
          </form>
        </div>
      </div>

      <div class="container" style="background-color: rgb(236, 236, 243)">
        <table class="table caption-top">
          <div class="addcontainer">
            <div class="h5">LIST OF CATEGORIES</div>
            <div class="searchbox">
              <form id="searchForm" method="GET" class="d-flex" role="search">
                <input
                  id="searchInput"
                  name="query"
                  class="form-control me-2"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                />
                <button class="btn btn-outline-success btnSearch" type="submit">
                  Search
                </button>
              </form>
            </div>
            <!-- addproducts -->
            <div class="dropdown">
              <button
                class="btn btn-success dropdown-toggle btn-padding button"
                type="button "
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Add
              </button>
              <ul class="dropdown-menu p-3">
                <li>
                  <form
                    class="dropdown-item"
                    method="post"
                    action="/admin/addCategories"
                  >
                    <div class="d-flex flex-column">
                      <label class="formpd pdright" for="name"
                        >Category Name:</label
                      >
                      <input
                        class="formpd"
                        type="text"
                        id="categoryName"
                        name="categoryName"
                        required
                      /><br />
                    </div>

                    <div class="d-flex flex-column">
                      <label class="formpd pdright" for="email"
                        >Is Active:</label
                      >
                      <input
                        class="formpd"
                        type="text"
                        id="isActive"
                        name="isActive"
                        required
                      /><br />
                    </div>
                    <button class="formpd btn-padding button" type="submit">
                      Add Category
                    </button>
                  </form>
                </li>
              </ul>
            </div>
          </div>
          <thead>
            <tr>
              <th scope="col">S.NO</th>
              <th scope="col">CATEGORY</th>

              <th scope="col">ACTIVE</th>
              <th scope="col">UPDATE</th>
              <th scope="col">DELETE</th>
            </tr>
          </thead>
          <tbody id="productTableBody">
            <% let num = 1 ;%> <% categories.forEach((category) =>{ %>
            <tr>
              <th scope="row"><%=num%></th>
              <td>
                <div class="productname">
                  <!-- <img class="productimg" src="images/images.jpg" alt="" /> -->
                  <p><%=category.categoryName%></p>
                </div>
              </td>

              <td><%=category.isActive%></td>
              <td>
                <div class="action">
                  <!-- UPDATE -->
                  <div class="dropdown">
                    <button
                      class="btn btn-info dropdown-toggle btns button"
                      type="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                      onclick="populateUpdateForm('<%= category._id %>', '<%=category.categoryName %>',)"
                    >
                      Update
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <form
                          class="dropdown-item"
                          method="post"
                          action="/admin/adminCategories/update/<%= category._id %>"
                        >
                          <div class="d-flex flex-column">
                            <label class="formpd pdright" for="name"
                              >Category Name:</label
                            >
                            <input
                              class="formpd"
                              type="text"
                              id="categoryName"
                              name="categoryName"
                              required
                            /><br />
                          </div>

                          <div class="d-flex flex-column">
                            <label class="formpd pdright" for="email"
                              >Is Active:</label
                            >
                            <input
                              class="formpd"
                              type="text"
                              id="isActive"
                              name="isActive"
                              required
                            /><br />
                          </div>

                          <!-- Remove isAdmin checkbox for individual user updates -->

                          <button
                            class="btn-padding btn-padding button"
                            type="submit"
                          >
                            Update User
                          </button>
                        </form>
                      </li>
                    </ul>
                  </div>
                  <!-- DELETE -->
                </div>
              </td>
              <td>
                <form
                  method="post"
                  action="/admin/adminCategories/delete/<%= category._id %>"
                >
                  <button type="submit" class="btn btn-danger btns button">
                    Delete
                  </button>
                </form>
              </td>
            </tr>
            <% num = num+1%> <% }) %>
          </tbody>
        </table>
      </div>
      <div></div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <script>
      function populateUpdateForm(userId, name, email) {
        // Get the form fields by their IDs
        const updateNameField = document.getElementById(`updateName${userId}`);
        const updateEmailField = document.getElementById(
          `updateEmail${userId}`
        );

        // Set the values of the form fields with user data
        updateNameField.value = name;
        updateEmailField.value = email;
      }

      document.addEventListener("DOMContentLoaded", () => {
        const searchForm = document.getElementById("searchForm");
        const searchInput = document.getElementById("searchInput");
        const productTableBody = document.getElementById("productTableBody");

        searchForm.addEventListener("submit", async (e) => {
          e.preventDefault();

          const query = searchInput.value;

          try {
            const response = await fetch(
              `/admin/searchCategory?query=${query}`
            );
            if (!response.ok) {
              throw new Error("Network response was not ok");
            }

            const data = await response.json();
            productTableBody.innerHTML = ""; // Clear the table body

            let num = 1;
            data.results.forEach((category) => {
              const row = document.createElement("tr");
              row.innerHTML = `
          <th scope="row">${num}</th>
          <td>
            <div class="productname">
              <p>${category.categoryName}</p>
            </div>
          </td>
          <td>${category.isActive}</td>
          <td>
            <!-- UPDATE -->
            <div class="dropdown">
              <button
                class="btn btn-info dropdown-toggle btns button"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                onclick="populateUpdateForm('${category._id}', '${category.categoryName}')"
              >
                Update
              </button>
              <ul class="dropdown-menu">
                <li>
                  <form
                    class="dropdown-item"
                    method="post"
                    action="/admin/adminCategories/update/${category._id}"
                  >
                    <div class="d-flex flex-column">
                      <label class="formpd pdright" for="name">Category Name:</label>
                      <input class="formpd" type="text" id="categoryName" name="categoryName" required />
                    </div>
                    <div class="d-flex flex-column">
                      <label class="formpd pdright" for="email">Is Active:</label>
                      <input class="formpd" type="text" id="isActive" name="isActive" required />
                    </div>
                    <button class="btn-padding btn-padding button" type="submit">
                      Update User
                    </button>
                  </form>
                </li>
              </ul>
            </div>
            <!-- DELETE -->
          </td>
          <td>
            <form method="post" action="/admin/adminCategories/delete/${category._id}">
              <button type="submit" class="btn btn-danger btns button">
                Delete
              </button>
            </form>
          </td>
        `;
              num += 1;
              productTableBody.appendChild(row);
            });
          } catch (error) {
            console.error("Error performing search:", error);
          }
        });
      });
    </script>
  </body>
</html>
