<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Rubik:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="adminCategories.css" />
    <title>Admin Categories Page</title>
  </head>
  <body style="background-color: rgb(236, 236, 243)">
    <div class="logout-container">
      <form action="/logout?_method=DELETE" method="post">
        <button class="logout-btn btn-secondary" type="submit">Log Out</button>
      </form>
    </div>
    <div class="mainContainer">
      <div class="rows adminpanel">
        <div class="column">DASHBOARD</div>
        <div class="column">PRODUCTS</div>
        <div class="column">CATEGORIES</div>
        <div class="column">ORDERS</div>
        <div class="column">COUPONDS</div>
        <div class="column">CUSTOMERS</div>
      </div>

      <div class="container" style="background-color: rgb(236, 236, 243)">
        <h1 class="text-start heading-primary">CATEGORIES</h1>
        <table class="table caption-top">
          <div class="addcontainer">
            <div class="h3">LIST OF CATEGORIES</div>
            <div class="searchbox">
              <form class="d-flex" role="search">
                <input
                  class="form-control me-2"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                />
                <button class="btn btn-outline-success" type="submit">
                  Search
                </button>
              </form>
            </div>
            <!-- addproducts -->
            <div class="dropdown">
              <button
                class="btn btn-success dropdown-toggle btn-padding"
                type="button "
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Add
              </button>
              <ul class="dropdown-menu">
                <li>
                  <form class="dropdown-item" method="post" action="/admin/add">
                    <label class="formpd pdright" for="name">Name:</label>
                    <input
                      class="formpd"
                      type="text"
                      id="name"
                      name="name"
                      required
                    /><br />

                    <label class="formpd pdright" for="email">Email:</label>
                    <input
                      class="formpd"
                      type="email"
                      id="email"
                      name="email"
                      required
                    /><br />

                    <label class="formpd" for="password">Password:</label>
                    <input
                      class="formpd"
                      type="password"
                      id="password"
                      name="password"
                      required
                    /><br />
                    <!-- 
              <label for="isAdmin">Is Admin:</label>
              <input
                type="checkbox"
                id="isAdmin"
                name="isAdmin"
              /><br /> -->

                    <button class="formpd btn-padding" type="submit">
                      Add User
                    </button>
                  </form>
                </li>
              </ul>
            </div>
          </div>
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">CATEGORY</th>

              <th scope="col">ACTIVE</th>
              <th scope="col">UPDATE</th>
              <th scope="col">DELETE</th>
            </tr>
          </thead>
          <tbody>
            <% let num = 1 ;%> <% categories.forEach((category) =>{ %>
            <tr>
              <th scope="row"><%=num%></th>
              <td>
                <div class="productname">
                  <!-- <img class="productimg" src="images/images.jpg" alt="" /> -->
                  <p><%=category.categoryName%></p>
                </div>
              </td>

              <td>active</td>
              <td>
                <div class="action">
                  <!-- UPDATE -->
                  <div class="dropdown">
                    <button
                      class="btn btn-info dropdown-toggle btns"
                      type="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                      onclick="populateUpdateForm('<%= category._id %>', '<%=category.categoryName %>',)"
                    >
                      Update
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <form
                          class="dropdown-item"
                          method="post"
                          action="/admin/update/<%= category._id %>"
                        >
                          <!-- Use unique form identifiers for each user -->
                          <label
                            class="formpd pdright"
                            for="updateName<%= category._id %>"
                            >Name:</label
                          >
                          <input
                            class="formpd"
                            type="text"
                            id="updateName<%= category._id %>"
                            name="updateName"
                            required
                          /><br />

                          <label
                            class="formpd pdright"
                            for="updateEmail<%= category._id %>"
                            >Email:</label
                          >
                          <input
                            class="formpd"
                            type="email"
                            id="updateEmail<%= category._id %>"
                            name="updateEmail"
                            required
                          /><br />

                          <label
                            class="formpd"
                            for="updatePassword<%= category._id %>"
                            >Password:</label
                          >
                          <input
                            class="formpd"
                            type="password"
                            id="updatePassword<%= category._id %>"
                            name="updatePassword"
                            required
                          /><br />

                          <!-- Remove isAdmin checkbox for individual user updates -->

                          <button class="btn-padding btn-padding" type="submit">
                            Update User
                          </button>
                        </form>
                      </li>
                    </ul>
                  </div>
                  <!-- DELETE -->
                </div>
              </td>
              <td>
                <form method="post" action="/admin/delete/<%= category._id %>">
                  <button type="submit" class="btn btn-danger btns">
                    Delete
                  </button>
                </form>
              </td>
            </tr>
            <% num = num+1%> <% }) %>
          </tbody>
        </table>
      </div>
      <div></div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <script>
      function populateUpdateForm(userId, name, email) {
        // Get the form fields by their IDs
        const updateNameField = document.getElementById(`updateName${userId}`);
        const updateEmailField = document.getElementById(
          `updateEmail${userId}`
        );

        // Set the values of the form fields with user data
        updateNameField.value = name;
        updateEmailField.value = email;
      }
    </script>
  </body>
</html>
