<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Poppins:wght@300;400;500;600&family=Rubik:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/checkout.css" />

    <title>checkOut Page</title>
  </head>
  <body>
    <div class="container nav-container">
      <div class="nav-main">
        <h2 class="navmain-heading">VRNA</h2>
        <h5>SHOP</h5>
        <h5>CONTACT</h5>
        <h5>ABOUT</h5>
      </div>
      <div class="nav-sec">
        <h5><ion-icon name="search-outline"></ion-icon> </h5>
        <h5><ion-icon name="person-outline"></ion-icon></h5>
        <h5><ion-icon name="cart-outline"></ion-icon></h5>
        </div>
    </h5>
    </div>
    <h2 class="primary-heading">CHECKOUT</h2>
    <div class="container outerContainer">

       
          <div class="container text-center cardContainer">
            <table class="table caption-top">
              <div class="addcontainer">
              
               
              </div>
              <thead>
                <tr>
                  <th scope="col">S.NO</th>
                  <th scope="col">PRODUCT NAME</th>
               
                  <th scope="col">PRICE</th>
              
    
                  <th scope="col">COUNT</th>
         
                </tr>
              </thead>
            
              <tbody id="productTableBody">
                <% let num = 1 ;%> <% products.forEach((product) =>{ %>
                <tr>
                  <th scope="row"><%=num%></th>
                  <td>
                    <div class="productname">
                      <img
                        class="productimg"
                        src="<%=product.productImages[0]%>"
                        alt=""
                      />
                      <p><%=product.productName%></p>
                    </div>
                  </td>
                  
                  <td ><div class="product-price" data-price="<%= product.productPrice %>">$<%= product.productPrice %></div></td>
                  <td ><div class="product-Count" data-price="<%= product.totalProductCount%>"><%= product.totalProductCount %></div></td>
                  
    
                </tr>
                <% num = num+1%> <% }) %>
              </tbody>
               
            </table>
           
            </div>
          
        
      
      <div class="container priceContainer">
      <% const prices = products.map(product => product.productPrice); %>
      <div id="prices-data" data-prices="<%= JSON.stringify(prices) %>"></div>
      <div id="products-data" data-products="<%= JSON.stringify(products) %>"></div>


          <h5 class="price-heading">PRICE DETAILS</h5>
          <p class="pricedetailsp"><strong>Price : </strong><span id="price"> $<%= total %></span></p>
          <p class="pricedetailsp"><strong>Delivery Charge :</strong> <span id="deliveryCharge">$500</span>   </p>
          <p  class="pricedetailsp"><strong>TotalPrice :</strong><span id="totalPrice">$<%=totalPrice %></span>  </p>
                <a href="/user/paymentSelection" class="btn btn-Buynow">PROCEED TO SHIP</a>
          </p>
        </div>
      </div>  

    <footer>
      <div class="text-center footer-container">
        <div class="container">
          <div class="container row">
            <div class="col">
              <ul class="footerul">
                <li><h1 class="heading-footer footer-link">VRNA</h1></li>
                <li class="footer-link">
                  <p>
                    Workout Clothes designed to help you become your personal
                    best. Because when it comes to performing at your max, there
                    should be no obstacles – least of all your workout clothes.
                  </p>
                </li>
              </ul>
            </div>
            <div class="col">
              <ul class="footerul">
                <li><a class="footer-link" href="#">SHOPPING</a></li>
                <li><a class="footer-link" href="#">SALES</a></li>
              </ul>
            </div>
            <div class="col">
              <ul class="footerul">
                <li><a class="footer-link" href="#">SHOPPING</a></li>
                <li><a class="footer-link" href="#">Contact Us</a></li>
                <li><a class="footer-link" href="#">Payment Method</a></li>
                <li><a class="footer-link" href="#">Delivery</a></li>
              </ul>
            </div>
            <div class="col">
              <ul class="footerul">
                <li><a class="footer-link" href="#">NEWSLETTER</a></li>
                <li class="footer-link">
                  <p>
                    Be the first to know about new arrivals, look books, sales &
                    promos
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <br />
        <p class="copyright">Copyright © 3333 All rights reserved | VRNA</p>
      </div>
    
    </footer>
    <!-- <script>
const pricesDataElement = document.getElementById('prices-data');
  const pricesDataJSON = pricesDataElement.getAttribute('data-prices');

  // Parse the JSON data into a JavaScript array
  const prices = JSON.parse(pricesDataJSON);

  const price = document.getElementById('price');
  const deliveryCharge = document.getElementById('deliveryCharge');
  const totalPrice = document.getElementById('totalPrice');

  function countPrice() {
    let sum = 0;

    // Fix the loop starting index to 0
    for (let x = 0; x < prices.length; x++) {
      sum += prices[x]; // Add each product's price to the sum
    }

    price.textContent = '$' + sum;
    deliveryCharge.textContent = '$500';
    totalPrice.textContent = '$' + (sum + 500);
  }

  
  window.onload = countPrice;

     -->
  </script>
    
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>