      <!DOCTYPE html>
      <html lang="en">
        <head>
          <meta charset="UTF-8" />
          <meta name="viewport" content="width=device-width, initial-scale=1.0" />
          <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
          />
          <link rel="preconnect" href="https://fonts.googleapis.com" />
          <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
          <link
            href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Poppins:wght@300;400;500;600&family=Rubik:wght@300;400&display=swap"
            rel="stylesheet"
          />
          <link rel="stylesheet" href="/payment.css" />

          <title>Payment&Address</title>
        </head>
        <body>
          <div class="container nav-container">
            <div class="nav-main">
              <h2 class="navmain-heading">VRNA</h2>
              <h5>SHOP</h5>
              <h5>CONTACT</h5>
              <h5>ABOUT</h5>
            </div>
            <div class="nav-sec">
              <h5><ion-icon name="search-outline"></ion-icon> </h5>
              <h5><ion-icon name="person-outline"></ion-icon></h5>
              <h5><ion-icon name="cart-outline"></ion-icon></h5>
              </div>
        
          </div>
          <h2 class="primary-heading">Payment And Address</h2>
        <div>  <div class="container outerContainer">
          <div class="container">

          
          
              <div class="row">
                <div class="col-md-8">
                  <div class="card mb-4">
          
                  </div>
                
                  </div>
          
                
                    <div class="">
                      <p class="text-uppercase d-block">Change Address</p>
                      <div class="selectAddress">
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" />
                            <label class="form-check-label" for="inlineRadio1">Address 1</label>
                          </div>
                          
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" />
                            <label class="form-check-label" for="inlineRadio2"> Address 2</label>
                          </div>
                          
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"  />
                            <label class="form-check-label" for="inlineRadio3">Address 3</label>
                          </div>
                        </div>
                      
          
          
                    </div>
                  
                </div>
              
                <div class="col-md-8 mb-4">
                  <div class="card mb-4">
                    <div class="card-header py-3">
                      <h5 class="mb-0 text-font text-uppercase">Delivery address</h5>
                    </div>
                    <div class="card-body">
                      <form>
                        <div class="row mb-4">
                          <div class="col">
                            <div class="form-outline">
                              <input type="text" id="form11Example1" class="form-control" value="<%= user.firstname %>" />
                              <label class="form-label" for="form11Example1">First name</label>
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-outline">
                              <input type="text" id="form11Example2" class="form-control" value="<%= user.lastname %>" />
                              <label class="form-label" for="form11Example2">Last name</label>
                            </div>
                          </div>
                        </div>
                      
                        <!-- Text input -->
                        <div class="form-outline mb-4">
                          <input type="text" id="form11Example4" class="form-control" value="<%=  user.address[0].houseaddress %>,<%=user.address[0]. addressLocality %>,<%=user.address[0]. addressCity %>"  />
                          <label class="form-label" for="form11Example4">Address</label>
                        </div>
                      
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                          <input type="number" id="form11Example5" class="form-control"value="<%=user.address[0].postalCode%>" />
                          <label class="form-label" for="form11Example5">Pincode</label>
                        </div>
                      
                        <!-- Number input -->
                        <div class="form-outline mb-4">
                          <input type="number" id="form11Example6" class="form-control" 
                          value="<%=user.contactnumber%>" />
                          <label class="form-label" for="form11Example6">Phone</label>
                        </div>
                      
                        <!-- Message input -->
                        <div class="form-outline mb-4">
                          <textarea class="form-control" id="form11Example7" rows="4"></textarea>
                          <label class="form-label" for="form11Example7">Additional information</label>
                        </div>
                      </form>
                      <div id="user-address" data-address="<%= JSON.stringify(user.address) %>"></div>

                    </div>
                    <a href="/user/editAddress" class="btn btn-Buynow">Edit Address</a>
                  </div>
                  
                </div>
          
          
          
          
          
          

          
            
            <!--Section: Design Block-->
          
          </div>
          <div class="container py-5 payment-Container">
            <p id="error_message"></p>
          <div class="d-flex flex-column">
            
            <!-- <input type="text" id="coupons_field"> -->
            <div>
              
              <select id="coupons_dropdown" onchange="updateCouponField()">
                <% coupons.forEach(function(coupon) { %>
                  <option value="<%= coupon.couponCode %>"><%= coupon.couponCode %></option>
                <% }); %>
              </select>
              <input type="text" id="coupons_field" oninput="updateDropdown()">
            </div>
            <label for="coupons_field" class="text">Enter Coupon Code</label>
            <button id="applyCouponBtn" class="btn btn-Buynow">Apply</button>
          </div>
          <div class="d-flex flex-column">
            <p class="text">Entered Coupon Code: <span id="enteredCouponCode"></span></p>
            <button id="changeCouponBtn" class="btn btn-Buynow" style="display: none;">Change Coupon</button>
          </div>
          
            <div class=" d-flex justify-content-evenly">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="paymentOption" id="cashOnDelivery" checked>
                <label class="form-check-label" for="cashOnDelivery">
                  Cash On Delivery
                </label>
              </div>
              <div class="form-check mx-5">
                <input class="form-check-input" type="radio" name="paymentOption" id="payNow" >
                <label class="form-check-label" for="payNow">
                  Pay Now 
                </label>
              </div>
         
            </div>
          
          <div class="container priceContainer">
              <h5 class="price-heading">PRICE DETAILS</h5>
                <p class="pricedetailsp"><strong>Price : </strong><span id="price"> $<%=price.toFixed(2)%></span></p>
                <p class="pricedetailsp"><strong>Delivery Charge :</strong> <span id="deliveryCharge">$500</span>   </p>
                <p class="pricedetailsp"><strong>Discount :</strong> <span id="discount">$00</span>   </p>
                <p  class="pricedetailsp"><strong>TotalPrice :</strong><span id="totalPrice">$<%=totalPrice%></span>  </p>
                <% if(walletamount >0){ %>
                  <div class="wallet-check mx-5">
                    <input class="wallet-input" type="radio" name="wallet" id="walletid"  onchange="walletchange()">
                    <label class="wallet-label" for="walletid">
                      Apply wallet : $ <span id="wallet_amount"><%= walletamount %> </span>
                    </label>
                  </div>
               <% } %>
                <button class="btn btn-Buynow" id="confirmOrder">CONFIRM ORDER</button>
                      
                </p>
                <a href="/user/cancelOrder" class="btn btn-Buynow">CANCEL ORDER</a>
            </div>

      </div>
      </div>
      </div>

          <footer>
            <div class="text-center footer-container">
              <div class="container">
                <div class="container row">
                  <div class="col">
                    <ul class="footerul">
                      <li><h1 class="heading-footer footer-link">VRNA</h1></li>
                      <li class="footer-link">
                        <p>
                          Workout Clothes designed to help you become your personal
                          best. Because when it comes to performing at your max, there
                          should be no obstacles – least of all your workout clothes.
                        </p>
                      </li>
                    </ul>
                  </div>
                  <div class="col">
                    <ul class="footerul">
                      <li><a class="footer-link" href="#">SHOPPING</a></li>
                      <li><a class="footer-link" href="#">SALES</a></li>
                    </ul>
                  </div>
                  <div class="col">
                    <ul class="footerul">
                      <li><a class="footer-link" href="#">SHOPPING</a></li>
                      <li><a class="footer-link" href="#">Contact Us</a></li>
                      <li><a class="footer-link" href="#">Payment Method</a></li>
                      <li><a class="footer-link" href="#">Delivery</a></li>
                    </ul>
                  </div>
                  <div class="col">
                    <ul class="footerul">
                      <li><a class="footer-link" href="#">NEWSLETTER</a></li>
                      <li class="footer-link">
                        <p>
                          Be the first to know about new arrivals, look books, sales &
                          promos
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <br />
              <p class="copyright">Copyright © 3333 All rights reserved | VRNA</p>
            </div>
          
          </footer>
        
      <script src=" 
      https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


      <script>
let amount = null;
let walletApplied = false;
const wallet_amount = Number(document.getElementById("wallet_amount").textContent);
     function walletchange(){
      const wallet =  document.getElementById("walletid");
     if(wallet.checked){
    //  const amount =  parseInt(document.getElementById("totalPrice").textContent.replace(/\D/g, ''), 10);

     let  total__price = parseFloat(document.getElementById("price").textContent.replace(/[^0-9.]/g, ''));



 
   
     if(wallet_amount > total__price){
      //  amount = (wallet_amount - total__price).toFixed(2);
      wallet.checked = false;
      alert("Cant Apply Wallet if Product Price is less than wallet")
     
     }else if(wallet_amount < total__price){
    
      amount = (total__price - wallet_amount).toFixed(2) ;
      document.getElementById("totalPrice").textContent = Number(amount) +500;
      amount=Number(amount) +500;
      walletApplied = true;
      
     }
     }
     }

        let selectedAddressIndex = 0; 


        function updateAddress() {
      
        const userAddressData = JSON.parse(document.getElementById('user-address').getAttribute('data-address'));
          const selectedAddress = userAddressData[selectedAddressIndex];
          const contactNumber = "<%= user.contactnumber %>"
        
          document.getElementById('form11Example4').value = `${selectedAddress.houseaddress}, ${selectedAddress.addressLocality}, ${selectedAddress.addressCity}`;
          document.getElementById('form11Example5').value = `${selectedAddress.postalCode}`;
          document.getElementById('form11Example6').value = contactNumber;
          
        
            const allRadioButtons = document.querySelectorAll('.form-check-input');
          allRadioButtons.forEach((radio) => {
            radio.removeAttribute('checked');
          });

        
          allRadioButtons[selectedAddressIndex].setAttribute('checked', 'checked');
        
      }



      
        const radioButtons = document.querySelectorAll('.form-check-input');
        radioButtons.forEach((radio, index) => {
          radio.addEventListener('change', () => {
            if (radio.checked) {
              selectedAddressIndex = index; 
              updateAddress(); 
            }
          });
        });


        updateAddress();
        let  totalPrice = parseFloat(document.getElementById("totalPrice").innerHTML.slice(1));

        document.getElementById("applyCouponBtn").addEventListener('click',function(){
          
        const enteredCouponCode = document.getElementById('coupons_field').value;
if(enteredCouponCode){
  
  fetch("/user/findCoupon",{
        method :"POST",
        headers:{
          "Content-Type" :"application/json"
        },
        body:JSON.stringify({enteredCouponCode})
       }).then((response)=>{
        if(response.ok){
      response.json().then(data=>{
       
        const dicountPercentage = data.discount;
      
const originalTotalPrice = parseFloat(document.getElementById("totalPrice").innerHTML.slice(1));
const discountedTotalPrice =(1-dicountPercentage /100)* originalTotalPrice;
const discount  =( originalTotalPrice - discountedTotalPrice).toFixed(2);
document.getElementById("totalPrice").innerText =`$${discountedTotalPrice.toFixed(2)}`
document.getElementById("enteredCouponCode").innerText = enteredCouponCode;
document.getElementById("changeCouponBtn").style.display = "inline"; 
document.getElementById("discount").innerText =`$${discount}`

fetch("/user/updateTotalPrice", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify({ Price: discountedTotalPrice ,originalTotalPrice }),
  }).then((response) => {
    if (response.ok) {
      // document.getElementById("totalPrice").innerHTML = `$${discountedTotalPrice.toFixed(2)}`;
      document.getElementById("error_message").innerText="Coupon Applied"
      
      console.log('Total price updated on the server');
    } else {
      console.error('Failed to update total price on the server');
    }
  });
      })
        }else{
          response.json().then(data=>{
            document.getElementById("error_message").innerText=`${data.message}`;
            console.log(data.message)
          })
        }
       })
       

}

      })

      document.getElementById("changeCouponBtn").addEventListener("click", function() {
        let code =   document.getElementById('coupons_field').value
  document.getElementById('coupons_field').value = ""; 
  document.getElementById("enteredCouponCode").innerText = ""; 
  document.getElementById("changeCouponBtn").style.display = "none"; 

  fetch("/user/changeCouponCode",{
method :"POST",
headers:{
  "Content-Type" : "application/json"
},
body : JSON.stringify({code})
  }).then((response)=>{
    if(response.ok){
     response.json().then(data=>{
      document.getElementById("totalPrice").innerText =`$   ${data.originalPrice}`
      document.getElementById("error_message").innerText="";
      document.getElementById("discount").innerText =`$00`
     })
    }else{
      console.log("error coupon code ")
    }

  })
});



        document.getElementById("confirmOrder").addEventListener("click", function () {
        const cashOnDeliveryChecked = document.getElementById("cashOnDelivery").checked;
        const firstname = document.getElementById("form11Example1").value
        const lastname = document.getElementById("form11Example2").value
        const address = document.getElementById("form11Example4").value
        const pinCode = document.getElementById("form11Example5").value
        const contactNum = document.getElementById("form11Example6").value


        if (cashOnDeliveryChecked) {

          window.location.href = "/user/orderConfirmed";
        } else {
         

          fetch("/user/storeTotalPrice",{
            method:"POST",
            headers:{
              "Content-Type" :"application/json"
          },
          body : JSON.stringify({ Price: Number(amount) > 0 ? Number(amount) : totalPrice,firstname,lastname,address,pinCode,contactNum, walletApplied,wallet_amount})
        }).then((response)=>{
          if(response.ok){
            
            window.location.href = "/user/paynow";
          }else{
            console.error('Failed to store total price');
          }
        })
          

        }
      });
      window.onload = function() {
  const w = document.getElementById("walletid");
  w.checked = false;
};

// coupons dropdown 
function updateCouponField() {
      var dropdown = document.getElementById("coupons_dropdown");
      var inputField = document.getElementById("coupons_field");
      inputField.value = dropdown.value;
    }

    function updateDropdown() {
      var dropdown = document.getElementById("coupons_dropdown");
      var inputField = document.getElementById("coupons_field");
      var inputValue = inputField.value;

      // Check if the typed value is not an existing option
      if (![...dropdown.options].some(option => option.value === inputValue)) {
        // Create a new option for the typed value
        var newOption = document.createElement("option");
        newOption.value = inputValue;
        newOption.text = inputValue;
        dropdown.add(newOption);
      }

      dropdown.value = inputValue;
    }
      </script>


          <script
            type="module"
            src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
          ></script>
          <script
            nomodule
            src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
          ></script>
          <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"
          ></script>
        </body>
      </html>